.DS_Store
.idea/
node_modules/
app/bower_components
.sass-cache/
app/css/*.css
app/css/*.css.map
app/js/templates.js
.tmp/
dist/
zip/
server/database/people2*.json
server/database/upload2*.json
scripts/