<div class="navigation-tools hide-on-med-and-down">
  <a class="btn-floating waves-effect waves-light grey lighten-1 nav-left"><i class="material-icons">keyboard_arrow_left</i></a>
  <a class="btn-floating waves-effect waves-light grey lighten-1 nav-up"><i class="material-icons">keyboard_arrow_up</i></a>
  <a class="btn-floating waves-effect waves-light grey lighten-1 nav-right"><i class="material-icons">keyboard_arrow_right</i></a>
  <a class="btn-floating waves-effect waves-light grey lighten-1 nav-down"><i class="material-icons">keyboard_arrow_down</i></a>
</div>
