<div class="navigation-tools hide-on-med-and-down">
    <a class="btn-floating waves-effect waves-light grey lighten-1 nav-left"><i class="mdi-hardware-keyboard-arrow-left"></i></a>
    <a class="btn-floating waves-effect waves-light grey lighten-1 nav-up"><i class="mdi-hardware-keyboard-arrow-up"></i></a>
    <a class="btn-floating waves-effect waves-light grey lighten-1 nav-right"><i class="mdi-hardware-keyboard-arrow-right"></i></a>
    <a class="btn-floating waves-effect waves-light grey lighten-1 nav-down"><i class="mdi-hardware-keyboard-arrow-down"></i></a>
</div>