{{> treeNode.partial.hbs}}
{{#if oneSpouse}}
    <div class="p1">
        {{#spouses}}
            {{> treeNode.partial.hbs}}
            {{#if children}}
                <ul class="c">
                    {{#each children}}
                        <li>{{> treeNodeRecursive.partial.hbs}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/spouses}}
    </div>
{{/if}}
{{#if severalSpouses}}
    <ul class="p">
        {{#spouses}}
            <li>{{> treeNode.partial.hbs}}
                {{#if children}}
                    <ul class="c">
                        {{#each children}}
                            <li>{{> treeNodeRecursive.partial.hbs}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/spouses}}
    </ul>
{{/if}}
