<div class="row">
  <div class="col s12 m6 l8">
    <blockquote>{{p 'stats.people_count' count}}</blockquote>
  </div>
  <div class="input-field col s12 m6 l4 search"></div>
</div>
<div class="people"></div>
