/**** Structure ****/

header {
  padding: 10px;
}

@media #{$medium-and-down} {
  nav .brand-logo {
    left: initial;
  }
}

.brand-logo::before {
  background-image: url('../img/tree.png');
  background-size: 50px;
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

.language {
  display: inline-block;
  padding-right: 10px;
  cursor: pointer;

  &-ico {
    height: 30px;
  }
}

/**** Generic styles ****/

.btn-left {
  border-radius: 6px 0 0 6px;
}

.btn-right {
  border-radius: 0 6px 6px 0;
}

.shadowed {
  text-shadow: 2px 2px 4px #000000;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.img-cover {
  background: no-repeat center center;
  background-size: cover;
  padding-bottom: 100%;
}

.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.side-nav {
  li a {
    width: 100%;
  }
}

/**** Menu ****/

.menu .waves-effect {
  display: block;
}

/**** Override ****/

.input-field .prefix {
  top: .5rem;
}

blockquote {
  border-left: 5px solid color('teal', 'base');
}
