/**** Structure ****/

header {
  padding: 10px;
}

@media #{$medium-and-down} {
  nav .brand-logo {
    left: initial;
  }
}

.brand-logo::before {
  background-image: url('../img/tree.png');
  background-size: 50px;
  content: '';
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
}

/**** Generic styles ****/

.btn-small {
  width: 20px;
  height: 20px;

  i {
    line-height: 20px;
    font-size: 1rem;
  }
}

.btn-left {
  border-radius: 6px 0 0 6px;
}

.btn-right {
  border-radius: 0 6px 6px 0;
}

.shadowed {
  text-shadow: 2px 2px 4px #000000;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.img-cover {
  background: no-repeat center center;
  background-size: cover;
  padding-bottom: 100%;
}

.rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.side-nav {
  li a {
    width: 100%;
  }
}
