$color-link: color('brown', 'lighten-1');
$color-border: color('teal', 'lighten-4');

.tree {
  overflow-x: scroll;

  * {
    margin: 0;
    padding: 0;
  }

  white-space: nowrap;

  ul {
    position: relative;
    display: table;
    margin: 0 auto;
    font-size: 0;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }

  li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 15px 5px 0 5px;
    font-size: 12px;
    line-height: normal;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;

    /*We will use ::before and ::after to draw the connectors*/

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 1px solid $color-link;
      width: 50%;
      height: 15px;
    }

    &::after {
      right: auto;
      left: 50%;
      border-left: 1px solid $color-link;
    }

    /*We need to remove left-right connectors from elements without
    any siblings*/
    &:only-child::after {
      display: none;
    }

    /*Remove space from the top of single children*/
    //.tree li:only-child{ padding-top: 0;}

    /*Remove left connector from first child and
    right connector from last child*/
    &:first-child::before, &:last-child::after {
      border: 0 none;
    }

    /*Adding back the vertical connector to the last nodes*/
    li:last-child::before {
      border-right: 1px solid $color-link;
      border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
    }

    &:first-child::after {
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
    }

    li:only-child::before {
      right: auto;
      left: 50%;
      border-left: 1px solid $color-link;
      border-right: none;
    }
  }

  ul.p {
    & > li::before {
      border: none;
      content: '+';
      color: $color-link;
      left: 0;
      width: 100%;
      display: block;
    }

    & > li::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: none;
      width: 50%;
      height: 15px;
      border-left: none;
    }
  }

  .p1 {
    display: table;
    margin: 0 auto;

    &::before {
      border: none;
      content: '+';
      color: $color-link;
      left: 0;
      width: 100%;
      display: block;
    }
  }

  /*Time to add downward connectors from parents*/

  ul.c {
    padding-top: 20px;
  }

  ul ul.c::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid $color-link;
    width: 0;
    height: 20px;
  }

  li a {
    border: 1px solid $color-border;
    padding: 4px;
    text-decoration: none;
    color: #666;
    background-color: #fff;
    display: inline-block;
    min-width: 50px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    position: relative;

    /* cg - remove focus rectangle */
    outline: none;

    &#hilight {
      border: 1px solid #999;
      color: #333;
      background-color: #FFFF88;
    }

    /* red border on contacts */
    &.o {
      /* background-color: #f90; */
    }

    span {
      display: block;
      font-size: 10px;

    }
  }

  li.emphasis {
    & > a.m {
      border: 2px solid #00bcd4;
    }
    & > a.f {
      border: 2px solid #e91e63;
    }
  }

  /*Thats all. I hope you enjoyed it.
  Thanks :)*/

  .tree-thumbnail {
    display: block;
    margin: 0 auto 4px auto;
    padding-bottom: 0;
    width: 50px;
    height: 50px;
  }

  a.unknown .tree-thumbnail::before {
    content: '?';
    font-size: 60px;
  }

  .tree-detail {
    display: inline-block;
    vertical-align: text-top;

    p {
      text-overflow: ellipsis;
      max-width: 65px;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  /* cg: make sure the popovers are higher than the hovers */
  .popover {
    z-index: 4444;
  }

  .icon-info-sign {
    background-position: 0px 0px;
    background-image: url('../img/icon-info-sign.png');
  }

  // Vizualisation options
  &.hidden-date span {
    display: none;
  }
  &.hidden-avatar .tree-thumbnail {
    display: none;
  }
  &.hidden-name {
    p {
      display: none;
    }
    .tree-thumbnail {
      margin: 0 auto;
    }
  }
}